.signup-box {
    width: 25%;
    min-width: 300px;
    
    height: fit-content;
    
    margin: 0;
    
    transition: 0.4s;
    
    &__heading {
        margin-bottom: 20px;
    }
    
    input {
        width: 90% !important;
    }
}