.verify-banner {
  position: absolute;
  top: 0;
  left: 0;

  padding: 1%;

  margin-left: 20%;
  margin-right: auto;

  width: 60%;
  height: fit-content;

  background-color: orange;

  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;

  z-index: 100;
}
