.navbar {
  padding-left: 15px;
  
  height: 100vh;

  #app-logo {
    margin: 10%;
  }

  &-ul {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;

    text-align: left;

    &-li {
      list-style: none;
      
      margin-bottom: 70%;

      &-span {
        position: relative;
        bottom: 10px;  
        
        text-align: right;
        
        padding-left: 15px;

        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        font-size: 0.75em;
        line-height: 165%;
        /* or 30px */

        letter-spacing: 0.06em;

        color: #000000;
        
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.--most-bottom {
    margin: 0;
  
    position: absolute;
    bottom: 2%;
}