.proposal-accepted {
  width: auto;
  height: 50px;

  margin-left: 15%;
  margin-right: 15%;
  padding: 1.3%;

  background-color: #FFE37E;

  &-heading {
    float: left;

    width: 50%;

    font-size: 0.7rem;
    font-weight: bold;
  }

  &-buttons {
    float: right;

    width: 50%;

    display: flex;
    flex-direction: row;

    &__accept {
      color: green;
      font-weight: bold;

      margin-left: 45%;

      &:hover {
        cursor: pointer;
      }
    }

    &__decline {
      color: red;
      font-weight: bold;

      margin-left: auto;
      margin-right: 4%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .proposal-box {
    opacity: 0.62;
  }
}

.proposal-box {
  width: 70%;

  padding-bottom: 30px;
  padding: 4%;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(241, 241, 241, 0.918);

  display: flex;
  flex-direction: column;

  &__title {
    font-size: 0.9rem;

    padding-bottom: 15px;
  }

  &__description {
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.06em;

    padding-bottom: 20px;

    color: rgb(133, 133, 133);
  }

  &-info {
    font-size: 0.54rem;
    text-align: start;

    display: grid;
    grid-template-areas: 'date upvotes comments';
    grid-template-columns: 6fr 2fr 2fr;

    &__date {
      grid-area: date;
      padding-top: 15px;
    }

    &__upvotes {
      grid-area: upvotes;
      color: #428eff;

      svg {
        position: relative;
        top: 5px;
        transform: scale(0.8);
      }
    }

    &__comments {
      grid-area: comments;
      color: #ff005c;
      padding-top: 15px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
