.proposals-page {
  &-content {
    overflow-y: scroll;

    &__heading {
      padding-bottom: 50px;
    }

    &-menu {
      margin-bottom: 30px;

      margin-left: 10%;
      margin-right: auto;

      width: 70%;

      &__text {
        font-size: 0.8rem;
        margin-right: 5%;
        padding-bottom: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.--active-sort {
  border-bottom: 3px solid #6c63ff;
}
