.proposals-page {
  &-content {
    overflow-y: scroll;

    &__heading {
      padding-bottom: 50px;
    }

    &-menu {
      margin-bottom: 30px;
      
      margin-left: 17%;
      margin-right: auto;

      &__text {
        font-size: 0.8rem;
        padding-right: 5%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
