.App {
  /* width: 100vw;
  height: 100vh; */
}

/* Text Classes Modifiers */
.--maintext {
  font-family: "Quicksand", sans-serif;
}

.--subpara {
  font-family: "Montserrat";
}

.--light {
  color: #a2a2a2;
}

/* Font Sizes Classes */
.--mainfont {
  font-size: 1rem;
}

.--smallfont {
  font-size: 0.7rem;
}

/* MAIN GRID Modifiers */
.--grid-box-2 {
  position: fixed;

  display: grid;
  grid-template-areas: "navbar rightcontent";

  grid-template-columns: 0.4fr 5.6fr 0fr; /* 6 */
  /*grid-template-rows: 100%;*/

  width: 100vw;
  height: 100vh;

  /*gap: 0 2%;*/
}

.--grid-box-3 {
  position: fixed;

  display: grid;
  grid-template-areas: "navbar centercontent sidebar";

  grid-template-columns: 0.4fr 4.3fr 1.3fr; /* 6fr */
  /*grid-template-rows: 100%;*/

  width: 100vw;
  height: 100vh;

  /*gap: 0 2%;*/
}

.--grid-box-3-wide {
  position: fixed;

  display: grid;
  grid-template-areas: "navbar centercontent sidebar";

  grid-template-columns: 0.4fr 4.6fr 1fr; /* 6fr */
  /*grid-template-rows: 100%;*/

  width: 100vw;
  height: 100vh;

  /*gap: 0 2%;*/
}

.--leftside-grid-box {
  grid-area: navbar;
}

.--rightside-grid-box {
  grid-area: rightcontent;
  overflow-y: scroll;

  padding: 2%;
}

/* --------------------------------- */
.--center-content {
  grid-area: centercontent;

  padding: 3%;
}

.--sidebar {
  grid-area: sidebar;

  padding: 10% 3% 1% 5%;
}

/* Diableing Anchor Underline */
a {
  text-decoration: none !important;
}

/* Loading Bar */

#loading {
  animation: loading 2s linear infinite;

  position: absolute;
  top: 45%;
  left: 45%;

  width: 50px;
  height: 50px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
